# R Basic
## Substitution

In [1]:
a <- 111
b = 999
テスト = 789

In [2]:
ls()

[1] "a"      "b"      "テスト"

## Arithmetic

In [15]:
2 + 3
2 - 3
2 * 3
2 / 3
2 ^ 3

[1] 5

[1] -1

[1] 6

[1] 0.6666667

[1] 8

## Simple statistical analysis

In [11]:
# c is an abbreviation for combine
height = c(160, 167, 169, 181, 173)

In [16]:
# sd is an abbreviation for standard-diviation
mean(height)
sd(height)

[1] 170

[1] 7.745967

In [28]:
sex = c("f", "f", "m", "m", "f")
factor_sex = factor(sex)

In [29]:
factor_sex
class(factor_sex)

[1] f f m m f
Levels: f m

[1] "factor"

In [21]:
height_and_sex = c(height, sex)

In [24]:
height_and_sex
class(height)
class(sex)
class(height_and_sex)

 [1] "160" "167" "169" "181" "173" "f"   "f"   "m"   "m"   "f"

[1] "numeric"

[1] "character"

[1] "character"

In [34]:
# str is an abbreviation for structure
str(height)
str(factor_sex)
str(height_and_sex)

 num [1:5] 160 167 169 181 173
 Factor w/ 2 levels "f","m": 1 1 2 2 1
 chr [1:10] "160" "167" "169" "181" "173" "f" "f" "m" "m" "f"

## see help

find out how to use

- help(~)
- ?~

serch by keyword

- help.search(~)
- ??~