# R Basic
## Substitution

In [1]:
a <- 111
b = 999
テスト = 789

In [2]:
ls()

[1] "a"      "b"      "テスト"

## Arithmetic

In [3]:
2 + 3
2 - 3
2 * 3
2 / 3
2 ^ 3

[1] 5

[1] -1

[1] 6

[1] 0.6666667

[1] 8

## Simple statistical analysis

In [4]:
# c is an abbreviation for combine
height = c(160, 167, 169, 181, 173)

In [5]:
# sd is an abbreviation for standard-diviation
mean(height)
sd(height)

[1] 170

[1] 7.745967

In [6]:
sex = c("f", "f", "m", "m", "f")
factor_sex = factor(sex)

In [7]:
factor_sex
class(factor_sex)

[1] f f m m f
Levels: f m

[1] "factor"

In [8]:
height_and_sex = c(height, sex)

In [9]:
height_and_sex
class(height)
class(sex)
class(height_and_sex)

 [1] "160" "167" "169" "181" "173" "f"   "f"   "m"   "m"   "f"

[1] "numeric"

[1] "character"

[1] "character"

In [10]:
# str is an abbreviation for structure
str(height)
str(factor_sex)
str(height_and_sex)

 num [1:5] 160 167 169 181 173
 Factor w/ 2 levels "f","m": 1 1 2 2 1
 chr [1:10] "160" "167" "169" "181" "173" "f" "f" "m" "m" "f"

## delete variable

In [11]:
rm(list=ls())
ls()

character(0)

## get working directory

In [12]:
getwd()

[1] "/home/work"

## read csv file

In [13]:
data = read.csv('read.csv')

In [14]:
data

  id sex testA testB
1 1  f   56    51
2 2  f   67    45
3 3  m   43    72
4 4  m   19    70
5 5  m   38    59

In [15]:
data$testA
sd(data$testA)

[1] 56 67 43 19 38

[1] 18.25651

In [16]:
class(data)

[1] "data.frame"

## see help

find out how to use

- help(~)
- ?~

serch by keyword

- help.search(~)
- ??~